/* testo do css style 1, para o header...*/

body,
ul,
li,
p {
 
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
		
 
}

body {
	 
  align-items: center;
	
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}
/* cabecalho*/
.header {
	width:980px;
	margin:0px auto;
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.menu {
  display: flex;
	
}

.menu li {
  margin-left: 10px;

}

.menu li a {
  display: block;
  padding: 10px;
  
}




/* eu que fiz*/

.flex-conteiner{
	
}

.top{
	display:flex;
	flex-wrap:wrap;
	flex-directio:row ;
	
  margin: 0 auto;
	;
}
	
.corpo{
	  margin: 0 auto;
	display: flex;
	flex-direction: row;
 	flex-wrap: wrap;
	width:980px;
	align-items: center;
	background-size: cover;
    background-repeat: no-repeat;
	
  	
	overflow:hidden; 
    bottom: 0;
    color: black;
  
	align: right;
	
	
	
}
/*pra se precisar
background-image: url("../img/img3.jpg");
	background-repeat: no-repeat;*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.q0a{
	
background-color: purple;
   
	color:white;
	width: 10;
	display: flex;
	wrap:wrap;
   flex-direction: row; 
	
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.q0b{
	
background-color: none;
   
	color:white;
	width: 10;
	display: flex;
   flex-direction: row; 
	
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.q1{
	background-color:none;
	margin-top:0px;
	 display:flex;
	font-size:10px;
}
.q2 li{
	background-color:none;
	font-size:50px;
	 display:flex;
}
.q3a li{
	padding:40%;
	background-color:orange;
	font-size:20px;
	height:200px;
	width:200px;
	 display:flex;
}
.q3b li{
	padding:40%;
	background-color:blue;
	font-size:20px;
		height:200px;
	width:200px;
	 display:flex;
}
.q3c li{
	padding:30%;
	background-color:red;
	font-size:20px;
		height:200px;
	width:200px;
}
.divintermediaria{
	background-color:none;
	width:100px;
}
.espaco{
	background-color:none;
	color:white;
	width: 300px;
}
/* pra baixo esta o estilo do chatbox */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}



	

	footer {
		width:980px;
		background:#1d1e20;
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		color:white;
		
	}

