
/* eu que fiz*/
.nossotrabalho{
	
	
	
	color:white;
	width: 10;
	display: flex;
   flex-direction: row; 
	font:white;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.esquerda{
	background-color:black;
	margin-top:0px;
	
	font-size:10px;
}
.direita{
	background-color:gray;
	font-size:20px;
}
.divintermediaria{
	background-color:gray;
	width:100px;
}
.espaco{
	background-color:none;;
	width: 100px;
}
/* pra baixo esta o estilo do chatbox */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(52, 91, 175);
}

.chatbox {
  margin: 1rem auto;
  height: 95vh;
  width: 92vw;
  display: grid;
  grid-template-rows: 44px auto 35px 54px;
  background-color: rgb(241, 240, 240);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 250ms;
}

.hide {
  opacity: 0;
}



/*----------------------------------------------*\
  Barre infos et action fermeture/réduction 
\*----------------------------------------------*/

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 8px 8px 0 0;
}

.top-bar_text {
  display: none;
}

.top-bar_action {
  font-family: 'Ubuntu', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(177, 177, 177);
  width: 15%;
  justify-content: center;
  align-items: center;
}

.top-bar_action-reduce {
  display: none;
}

.top-bar_action-close {
  width: 15px;
}

.top-bar_action-close:hover {
  cursor: pointer;
}

.top-bar_action-down {
  width: 20px;
}

.top-bar_action-down:hover {
  cursor: pointer;
}

.top-bar_expert {
  position: relative;
  top: 3vh;
}

.top-bar_expert-photo {
  width: 60px;
  border-radius: 50%;
}


/*----------------------------------------------*\
  Boite de dialogue
\*----------------------------------------------*/

.dialog-box {
  overflow-y: scroll;
  margin-top: 30px;
  margin-right: 9px;
}

.dialog-box::-webkit-scrollbar {
  width: 6px;
}

.dialog-box::-webkit-scrollbar-thumb {
  background: #1CC64E;
  border-radius: 20px;
}

.dialog-box::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}


/*----------------------------------------------*\
  bulle d'infos de l'application 
\*----------------------------------------------*/

.dialog-box_note {
  margin: 0 4rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.dialog-box_note-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  line-height: 1.1rem;
  max-width: 500px;
  color: #555;
  border-left: 1px solid #1CC64E;
  padding-left: 0.7rem;
}

.dialog-box_note-time {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  padding-left: 0.7rem;
  color: #555;
}


/*----------------------------------------------*\
  Le texte de l'utilisateur
\*----------------------------------------------*/

.dialog-box_user {
  margin: 0 2rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dialog-box_user-text {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: rgb(105, 105, 105);
}

.dialog-box_user-time {
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.5rem;
  color: #555;
  padding-right: 0.5rem;
}


/*----------------------------------------------*\
  La réponse de l'expert
\*----------------------------------------------*/

.dialog-box_expert {
  margin: 0 2rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.dialog-box_expert-operatoricon {
  display: none;
}

.dialog-box_expert-text {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1CC64E;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: rgb(255, 255, 255);
}

.dialog-box_expert-time {
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.5rem;
  color: #555;
  padding-right: 0.5rem;
  text-align: right;
}


/*----------------------------------------------*\
    Notification de saisie en cours 
\*----------------------------------------------*/

.user-is-writing_text {
  display: none;
}

.user-is-writing_dots {
  margin-left: 1rem;
  padding-top: 0.5rem;
}

.user-is-writing_dots .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 1px;
  background: #818181;
  -webkit-animation: wave 1.3s linear infinite;
  animation: wave 1.3s linear infinite;
}

.user-is-writing_dots .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.user-is-writing_dots .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@keyframes wave {

  0%,
  60%,
  100% {
    -webkit-transform: initial;
    transform: initial;
  }

  30% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}


/*----------------------------------------------*\
  Input de l'utilisateur
\*----------------------------------------------*/

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 8px 8px;
}

.bottom-bar_input {
  all: unset;
  margin-left: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #555;
  width: 220px;
}

.bottom-bar_send-icon {
  width: 36px;
  margin-right: 10px;
}


/*----------------------------------------------*\
  Icone de l'expert / ouverture chatbox
\*----------------------------------------------*/

.open-chatbox {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: -1;
}

.open-chatbox:hover {
  cursor: pointer;
}


/*----------------------------------------------*\
  Media Queries
\*----------------------------------------------*/

@media screen and (min-width:650px) {
  html {
    background-color: rgb(228, 191, 69);
  }

  .chatbox {
    margin: 0;
    height: 491px;
    width: 308px;
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

  /*----------------------------------------------*\
    Barre infos et action fermeture/réduction 
  \*----------------------------------------------*/

  .top-bar_text {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.6rem;
    color: #dbdbde;
    max-width: 33%;
    margin-left: 6px;
  }

  .top-bar_action {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    color: #dbdbde;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
  }

  .top-bar_action-reduce {
    display: block;
    color: #e2e2e2;
  }

  .top-bar_action-reduce:hover {
    cursor: pointer;
  }

  .top-bar_action-close {
    width: 15px;
    fill: #e2e2e2;
  }

  .top-bar_action-close:hover {
    cursor: pointer;
  }

  .top-bar_action:last-child {
    display: none;
  }

  .top-bar_expert {
    position: absolute;
    top: 17px;
    left: 130px;
  }

  .top-bar_expert-photo {
    width: 55px;
    border-radius: 50%;
  }


  /*----------------------------------------------*\
    bulle d'infos de l'application
  \*----------------------------------------------*/

  .dialog-box_note {
    margin: 0rem 0.5rem 1.2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .dialog-box_note-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #555;
    width: 220px;
    padding-left: 0.5rem;
    border-left: 1px solid #1CC64E;
  }

  .dialog-box_note-time {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    margin-top: 0;
    color: #555;
  }


  /*----------------------------------------------*\
    le texte de l'utilisateur 
  \*----------------------------------------------*/

  .dialog-box_user {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0rem 0.5rem 1.2rem 4rem;
    display: flex;
    flex-direction: initial;
    align-items: baseline;
    justify-content: space-between;
  }

  .dialog-box_user-text {
    margin-left: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(105, 105, 105);
    width: 200px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .dialog-box_user-time {
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
    color: #555;
    margin-top: 0;
    padding-right: 0.5rem;
  }


  /*----------------------------------------------*\
    la réponse de l'expert
  \*----------------------------------------------*/

  .dialog-box_expert {
    border-radius: 5px;
    margin: 0rem 0.5rem 1.2rem 0;
    flex-direction: initial;
    align-items: flex-start;
    justify-content: space-between;
  }

  .dialog-box_expert-operatoricon {
    display: block;
    width: 36px;
    margin-left: 1rem;
  }

  .dialog-box_expert-box {
    background-color: #1CC64E;
    width: 215px;
    display: flex;
    border-radius: 5px;
    flex-direction: initial;
    align-items: baseline;
    justify-content: space-between;
  }

  .dialog-box_expert-text {
    margin-right: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .dialog-box_expert-time {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    padding-right: 0.5rem;
  }

  /*----------------------------------------------*\
    Notification de saisie en cours 
  \*----------------------------------------------*/

  .user-is-writing {
    color: #555;
    margin-left: 0.3rem;
    padding-top: 0.4rem;
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
  }

  .user-is-writing_text {
    display: block;
  }

  .user-is-writing_dots {
    display: none;
  }
}